.blogid {
  position: absolute;
  text-shadow: 1px 1px 3px gray;
  bottom: 175px;
  font-size: 1rem;
  left: 0px;
  color: black;
  transform: rotate(90deg);
  transform-origin: bottom left;
  white-space: nowrap;
}