@media screen and (min-width: 769px) {
  .pc{
    display: block;
    padding: 2rem 0;

    table{
      tbody{
        tr{
          td{
            padding: 2rem 1.5rem;
          }
        }
        tr:last-child{
          td{
            border-bottom: none;
          }
        }
      }
    }
  }

  .sp{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pc{
    display: none;
  }

  .sp{
    display: block;
    padding: 2rem 0;
  }
}