@import '../variables.scss';

.footerArea{
  background-color: $sub1-color;
  padding-top: 1rem;
  font-size: .9rem;
  color: white;

  a{
    text-decoration: none;

    &:hover{
      color: yellow;
    }
  }
}