@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --link: #0000EE;
  --link-hover: #0000EE;
  --link-visited: #0000EE;
  --link-active: #0000EE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
  text-decoration: none;
}

a:visited {
  color: var(--link-visited);
}

a:active {
  color: var(--link-active);
}
